{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ pageName }} - GOV.UK Forms
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">{{ pageName }}</h1>

                <form action="/form-overview/draft/support/phone" method="post">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="phoneNumber">
                            Phone number
                        </label>
                        <div id="phoneNumber-hint" class="govuk-hint">
                            Enter a phone number for users to call if they need help
                        </div>
                        <input class="govuk-input" id="phoneNumber" name="phoneNumber" type="tel" autocomplete="tel"
                            value="{{ form.support.phone }}" aria-describedby="phoneNumber-hint">
                    </div>

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Save and continue
                        </button>
                        <a class="govuk-link" href="/form-overview/draft/overview">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}